*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    overflow: hidden;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left-container{
    height: 100%;
    width: 30%;
    background-color: #011901;
    position: relative;    
}
.notes-tag{
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
}
.notes-tag h1{
    font-weight: bolder;
    font-size: 40px;
}
.notes-container{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
}
.notes-container::-webkit-scrollbar{
    background-color: white;
    width: 6px;
    border-radius: 10px;
}
.notes-container::-webkit-scrollbar-thumb{
    background-color: #011901;
    border-radius: 10px;
}
.notes{
    padding: 10px;
    height: 15%;
    border-radius: 10px;
    background-color: #BDBDBD;
    margin-bottom: 10px;
    position: relative;
}
.text{
    height: 80%;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    margin-top: 8px;
    overflow: hidden;
}
.text p{
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.trash{
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: #011901;
    cursor: pointer;
    margin-bottom: 10px;
}
#date{
    position: absolute;
    right: 20px;
}
.right-container{
    width: 70%;
    height: 100%;
    background-color: #BDBDBD;
    position: relative;
    display: flex;
    flex-direction: column;
}
.nav-bar{
    width: 100%;
    padding: 10px;
    height: 10%;
    background-color: #FFF;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.5);
    position: fixed;
}
#add-btn{
    padding: 12px 24px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #011901;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
}
.text-area{
    padding: 20px;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#title-text{
    padding: 12px;
    width: 80%;
    font-size: 20px;
    border: none;
    outline: none;
    font-weight: bolder;
    background-color: #BDBDBD;
}
#text_area{
    padding: 10px;
    outline: none;
    height: 80%;
    width: 80%;
    font-size: 15px;
    font-weight: lighter;
    border: none;
    background-color: #BDBDBD;
}
